In [1]:
#import dependancies
import pandas as pd 
from sqlalchemy import create_engine

In [23]:
#import show data from CSV, clean
netflix_shows = pd.read_csv('Resources/netflix_shows.csv')
netflix_shows.drop(columns='Unnamed: 0', inplace=True)
netflix_shows = netflix_shows.rename(columns={
    'ratingLevel':'rating_level',
    'ratingDescription': 'rating_description',
    'release year': 'release_year',
    'user rating score': 'user_rating_score',
    'user rating size':'user_rating_size',
    'Movie or Show': 'movie_or_show'
})
netflix_shows.head()

,title,rating,rating_level,rating_description,release_year,user_rating_score,user_rating_size,movie_or_show
0,Grey's Anatomy,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,98.0,80,Show
1,Prison Break,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2008,98.0,80,Show
2,How I Met Your Mother,TV-PG,Parental guidance suggested. May not be suitab...,70,2014,94.0,80,Show
3,Supernatural,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,95.0,80,Show
4,Breaking Bad,TV-MA,For mature audiences. May not be suitable for...,110,2013,97.0,80,Show

In [24]:
#import movie data from CSV, clean
netflix_movies = pd.read_csv('Resources/netflix_movies.csv')
netflix_movies.drop(columns='Unnamed: 0', inplace=True)
netflix_movies = netflix_movies.rename(columns={
    'ratingLevel':'rating_level',
    'ratingDescription': 'rating_description',
    'release year': 'release_year',
    'user rating score': 'user_rating_score',
    'user rating size':'user_rating_size',
    'Movie or Show': 'movie_or_show'
    })
netflix_movies.head()

,title,rating,rating_level,rating_description,release_year,user_rating_score,user_rating_size,movie_or_show
0,White Chicks,PG-13,"crude and sexual humor, language and some drug...",80,2004,82.0,80,Movie
1,Lucky Number Slevin,R,"strong violence, sexual content and adult lang...",100,2006,NaN,82,Movie
2,The Hunter,R,language and brief violence,100,2011,NaN,82,Movie
3,The 100,NR,This movie has not been rated.,124,2016,97.0,80,Movie
4,Nymphomaniac: Volume 1,NR,This movie has not been rated.,124,2013,NaN,82,Movie

In [25]:
#open connection to postgress database
connection_string = "postgres:112388@localhost:5432/Netflix_db"
engine = create_engine(f'postgresql://{connection_string}')

In [26]:
#double check tables are created
engine.table_names()

['netflix_shows', 'netflix_movies']

In [27]:
#load show data to database
netflix_shows.to_sql(name='netflix_shows', con=engine, if_exists='append', index=False)

In [28]:
#load movie data to database
netflix_movies.to_sql(name='netflix_movies', con=engine, if_exists='append', index=False)

In [29]:
#check to see if data loaded
pd.read_sql_query('select * from netflix_shows', con=engine).head()

,show_id,title,rating,rating_level,rating_description,release_year,user_rating_score,user_rating_size,movie_or_show
0,1,Grey's Anatomy,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,98.0,80,Show
1,2,Prison Break,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2008,98.0,80,Show
2,3,How I Met Your Mother,TV-PG,Parental guidance suggested. May not be suitab...,70,2014,94.0,80,Show
3,4,Supernatural,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,95.0,80,Show
4,5,Breaking Bad,TV-MA,For mature audiences. May not be suitable for...,110,2013,97.0,80,Show

In [30]:
#check to see if data loaded
pd.read_sql_query('select * from netflix_movies', con=engine).head()

,movie_id,title,rating,rating_level,rating_description,release_year,user_rating_score,user_rating_size,movie_or_show
0,1,White Chicks,PG-13,"crude and sexual humor, language and some drug...",80,2004,82.0,80,Movie
1,2,Lucky Number Slevin,R,"strong violence, sexual content and adult lang...",100,2006,None,82,Movie
2,3,The Hunter,R,language and brief violence,100,2011,None,82,Movie
3,4,The 100,NR,This movie has not been rated.,124,2016,97.0,80,Movie
4,5,Nymphomaniac: Volume 1,NR,This movie has not been rated.,124,2013,None,82,Movie